#hero-section{
        margin-top: 0rem;
        height:86vh;
        background-image: url('../images/Search_back2.png');
        background-size: cover; /* Ensures the background image covers the entire viewport */
        background-position: center; /* Centers the background image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-attachment: fixed; /* Keeps the background image fixed when scrolling */
        /* margin-top: -4rem; */
        margin-bottom:-1rem; /* Remove bottom margin */
}

#search-back-section{
    background-image: url('../images/Search_back2.png');
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed when scrolling */
    margin-top: 0; /* Remove top margin */
}